@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(12px);
  }
}

.animate-scroll-down {
  animation: scroll-down 1.5s ease-in-out infinite;
}

/* Efecto de blur para los glows */
@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
}

.delay-1000 {
  animation-delay: 1000ms;
}
